{
 :duct.database/sql     {:connection-uri "jdbc:sqlite:db/dev.sqlite"}
 :duct.module/sql       {:database-url "jdbc:sqlite:db/dev.sqlite"}
 :duct.core/environment :development
 ;:duct.core/include     ["film_ratings/config"]
 }
